<h2>Welcome to the HB141 Admin Portal!</h2>
	<ul class="list-unstyled list-inline">
		<% unless admin_signed_in? %>
			<li><%= link_to "Sign In", new_admin_session_path, class: "btn btn-lg btn-primary" %></li>
		<% end %>

		<% if admin_signed_in? %>				
			<li><%= link_to "Create New Admin", new_admin_registration_path, class: "btn btn-lg btn-primary" %></li>
			<li><%= link_to "Establishments", establishments_path, class: "btn btn-lg btn-primary" %></li>
			<li><%= link_to "Reports", reports_path, class: "btn btn-lg btn-primary" %></li>
			<li><%= link_to "Users", users_path, class: "btn btn-lg btn-primary" %></li>
		<% end %>
	</ul>