<div class="page-header">
	<h2>Edit Report</h2>
	<ul class="actions">
		<li><%= link_to "Back", report_path(params[:id]), class: "btn btn-primary" %></li>
	</ul>
</div>

<%= form_tag report_path(params[:id]), method: :put do %>
<div class="container">
	<p>
		<%= label_tag "Datetime" %>
		<%= text_field_tag "Datetime", @report["Datetime"] %>
	</p>
	<p>
		<%= label_tag "Comment" %>
		<%= text_field_tag "Comment", @report["Comment"] %>
	</p>
	<p>
		<%= label_tag "Public View" %>
		<%= check_box_tag "Public View", true, @report["Public View"] %>
	</p>
	<p>
		<%= label_tag "Restroom View" %>
		<%= check_box_tag "Restroom View", true, @report["Restroom View"] %>
	</p>
	<p>
		<%= label_tag "No View" %>
		<%= check_box_tag "No View", true, @report["No View"] %>
	</p>
	<%= submit_tag "Edit Report", class: "btn btn-primary" %>
</div>
<% end %>