<div class="page-header">
<h2>Reports</h2>
<ul class="actions">
</ul>
</div>

<div class="container">
<div class="table-responsive">
<table id="establishments" class="table table-bordered">
	<thead>
		<td>ID</td>
		<td>Submitted On</td>
		<td>Comment</td>
		<td></td>
	</thead>
	<% @reports.each do |id, report| %>
		<tr class=<%= pass(report) ? "success" : "danger" %>>
			<td><%= id %></td>
			<td><%= report["Datetime"] %></td>
			<td><%= report["Comment"] %></td>
			<td><%= link_to "View", report_path(id), class: "btn btn-primary" %></td>
		</tr>
	<% end %>
</table>
</div>
</div>