<div class="page-header">
	<h2>
		Report #<%= params[:id] %>
		<span style="font-size: 14px;" class=<%= ('"label label-' + (pass(@report) ? "success" : "danger") + '"').html_safe %>><%= pass(@report) ? "Positive" : "Negative" %> Report</span>
	</h2>

	<ul class="actions">
		<li><%= link_to "Back", reports_path, class: "btn btn-primary" %></li>
		<li><%= link_to "Edit", edit_report_path(params[:id]), class: "btn btn-warning" %></li>
	</ul>
</div>

<div class="container">
	<h3>Reported On <%= link_to @establishment["Name"], establishment_path(@report["EID"]) %></h3>
	<div class="well well-lg">
		<h4><%= @report["Comment"] %></h4>
	</div>
	<p>Submitted On <%= @report["Datetime"] %></p>
	<p>Submitted By <%= @report ["VID"] %></p>
</div>