<div class="page-header">
	<h2>Edit Establishment</h2>
	<ul class="actions">
		<li><%= link_to "Back", establishment_path(params[:id]), class: "btn btn-primary" %></li>
	</ul>
</div>

<%= form_tag establishment_path(params[:id]), method: :put do %>
<div class="container">
	<p>
		<%= label_tag "Name" %>
		<%= text_field_tag "Name", @establishment["Name"] %>
	</p>
	<p>
		<%= label_tag "Address" %>
		<%= text_field_tag "Address", @establishment["Address"] %>
	</p>
	<p>
		<%= label_tag "Phone Number" %>
		<%= text_field_tag "Phone Number", @establishment["Phone Number"] %>
	</p>
	<p>
		<%= label_tag "Website" %>
		<%= text_field_tag "Website", @establishment["Website"] %>
	</p>
	<%= submit_tag "Edit Establishment", class: "btn btn-primary" %>
</div>
<% end %>