<div class="page-header">
	<h2>
		<%= @establishment["Name"] %>
		<% status = case status(@reports)
					  when "COMPLIES" 			 then "success"
		              when "NEEDS VISIT" 		 then "warning"
		              when "1ST NEGATIVE SURVEY" then "danger"
		              when "2ND NEGATIVE SURVEY" then "danger"
		              when "3RD NEGATIVE SURVEY" then "danger"
		              when "4TH NEGATIVE SURVEY" then "danger"
		              else 							  "primary"
					end %>
		<span style="font-size: 14px;" class=<%= ('"label label-' + status + '"').html_safe %>><%= status(@reports) %></span>
	</h2>

	<ul class="actions">
		<li><%= link_to "Back", establishments_path, class: "btn btn-primary" %></li>
		<li><%= link_to "Edit Establishment", edit_establishment_path(params[:id]), class: "btn btn-warning" %></li>
		<li><%= link_to "Delete Establishment", establishment_path(params[:id]), method: :delete, data: { confirm: "Are you sure you want to delete this establishment and all associated reports?" }, class: "btn btn-danger" %></li>
	</ul>
</div>

<div class="container">
<p><%= @establishment["Address"] %></p>
<p>Phone:
	<% if @establishment["Phone Number"] == nil %> 
		N/A
	<% else %>
		<a href=<%= 'tel:' + @establishment["Phone Number"].gsub(/\s+/, "") %>><%= @establishment["Phone Number"] %></a>
	<% end %>
</p>

<p>Website:
	<% if @establishment["Website"] == nil %>
		N/A
	<% else %> 
		<a href=<%= @establishment["Website"] %>><%= @establishment["Website"] %></a>
	<% end %>
</p>

<div class="table-responsive">
	<h3>Reports About <%= @establishment["Name"] %></h3>
	<table class="table table-bordered">
		<thead>
			<td>ID</td>
			<td>Submitted On</td>
			<td>Comment</td>
			<td></td>
		</thead>
		<% @reports.each do |id, report| %>
			<tr class=<%= pass(report) ? "success" : "danger" %>>
				<td><%= id %></td>
				<td><%= report["Datetime"] %></td>
				<td><%= report["Comment"] %></td>
				<td><%= link_to "View", report_path(id), class: "btn btn-primary" %></td>
			</tr>
		<% end %>
	</table>
</div>
</div>