<div class="page-header">
	<h1>
		<%= @establishment["Name"] %>
		<% status = case @establishment["Status"]
					  when "COMPLIES" 			 then "success"
		              when "NEEDS VISIT" 		 then "warning"
		              when "1ST NEGATIVE SURVEY" then "danger"
		              when "2ND NEGATIVE SURVEY" then "danger"
		              when "3RD NEGATIVE SURVEY" then "danger"
		              when "4TH NEGATIVE SURVEY" then "danger"
		              else 							  ""
					end %>
		<small class=<%= "bg-" + status %>><%= @establishment["Status"] %></small>
	</h1>

	<ul class="actions">
		<li><%= link_to "Back", establishments_path, class: "btn btn-primary" %></li>
		<li><%= link_to "Edit", edit_establishment_path(params[:id]), class: "btn btn-warning" %></li>
		<li>Delete Establishment</li>
	</ul>
</div>

<div class="container">
<p><%= @establishment["Location"]["Address"] %></p>
<p><%= @establishment["Location"]["City"] %>, <%= @establishment["Location"]["State"] %> <%= @establishment["Location"]["Zip"] %></p>

<h2>Manager Info</h2>
	<p><%= @manager["Name"] %></p>
	<p><a href=<%= "tel:" + @manager["Phone"] %>><span class='glyphicon glyphicon-earphone'></span></a> : <%= @manager["Phone"] %></p>
	<p><a href=<%= "mailto:" + @manager["Email"] %>><span class='glyphicon glyphicon-envelope'></span></a> : <%= @manager["Email"] %></p>


<div class="table-responsive">
	<h2>Reports About <%= @establishment["Name"] %></h2>
	<table class="table table-bordered">
		<thead>
			<td>ID</td>
			<td>Submitted On</td>
			<td>Comment</td>
		</thead>
		<% @reports.each do |id, report| %>
			<tr class=<%= report["Pass"] ? "success" : "danger" %>>
				<td><%= id %></td>
				<td><%= report["Datetime"] %></td>
				<td><%= report["Comment"] %></td>
				<td><%= link_to "View", report_path(id), class: "btn btn-primary" %></td>
			</tr>
		<% end %>
	</table>
</div>
</div>